In [1]:
print("Hello")

Hello

In [5]:
street = "Ab"
city = "cd"
country = "Ef"
address = f"{street}\n {city}\n {country}"
print(address)

Ab
 cd
 Ef

In [7]:
var = "Earth revolves around the sun"
print(var[6:14])
print(var[-3:])

revolves
sun

In [8]:
x = 23
y = 12
print(f"I eat {x} fruits and {y} veggies daily")

I eat 23 fruits and 12 veggies daily

In [10]:
s = "maine 200 banana khaye"
y = "maine 10 samosa khaye"
s = s.replace("banana", "samosa").replace("200", "10")
print(s)

maine 10 samosa khaye

In [16]:
exp = [2200,2350,2600,2130,2190]
print(exp[1] - exp[0])
print(exp[0] + exp[1] + exp[2])
print(2000 in exp)
exp.append(1980)
exp[3] = exp[3] - 200
print(exp)

150
7150
False
[2200, 2350, 2600, 1930, 2190, 1980]

In [30]:
heros=['spider man','thor','hulk','iron man','captain america']
a = len(heros)
print(a)
heros.append('black panther')
heros.remove('black panther')
heros.insert(3, 'black panther')
heros[1:3] = ["doctor strange"]
heros.sort()
print(dir(list))

5
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']